body{
    background-color: #e4e4e4;
    align-content: center;
}

.InputBox{
    height:50px;
    border-radius:2px;
    margin-top : 8px;
    margin-bottom:2px;
    width:251px;
    
}

.InputBox input {
    width:100%;
    height:100%;
    font-size:24px;
    font-family: sans-serif;
    padding:0 4px;
    color:#616161;
    outline-color:#BDBDBD;
    
}
input:focus{
    outline-color:#BDBDBD;
}
/*
.col-4{
    float:  left;
}
*/


.col-4 button{
    width:60px;
    margin:4px 0;
    hegith:auto;
}
