body{
    background-color: #e4e4e4;
    align-content: center;
}

.mainContainer{
    width:auto;
    
    position:relative;
    left:40%;
    top:200px;
 font-family : sans-serif;
}

.InputBox{
    height:80px;
    border-radius:2px;
    margin-top : 0px;
    margin-bottom:4px;
    width:410px;
    
}

.InputBox input {
    width:410px;
    height:100%;
    font-size:3em;
    font-family: sans-serif;
    padding:0 8px;
    margin-bottom:4px;
    color:#616161;
    outline-color:#BDBDBD;
    
}
input:focus{
    outline-color:#BDBDBD;
}
/*
.col-4{
    float:  left;
}
*/


.col-4 button{
    width:100px;
    margin:4px 0px 0px 0px;
    height:60px;
    font-size:2.5em;
    font-family: sans-serif;
}
